services:
  # --- Coordinador ---
  etcd:
    image: gcr.io/etcd-development/etcd:v3.5.10
    container_name: etcd-server
    ports:
      - "2379:2379"
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd-server:2379
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
    networks:
      - ha_network

  # --- Nodos de Patroni/PostgreSQL (3 en total) ---
  # Esta imagen de Zalando incluye Postgres Y Patroni juntos
  patroni-1:
    image: ghcr.io/zalando/spilo-15:3.0-p1
    container_name: patroni-1
    ports:
      - "5001:5432" # Puerto de PG
      - "8001:8008" # Puerto de API de Patroni
    environment:
      - SCOPE=postgresql-ha
      - PATRONI_NAME=pg-1
      - PATRONI_ETCD_HOSTS=etcd-server:2379
      - PATRONI_SUPERUSER_USERNAME=postgres
      - PATRONI_SUPERUSER_PASSWORD=adminpassword
      - PATRONI_REPLICATION_USERNAME=repl_user
      - PATRONI_REPLICATION_PASSWORD=repl_password
      - PGDATABASE=proyecto_ha
      - PGUSER_demo_user=demo_password # Crea un usuario 'demo_user' con clave 'demo_password'
    networks:
      - ha_network
    depends_on:
      - etcd

  patroni-2:
    image: ghcr.io/zalando/spilo-15:3.0-p1
    container_name: patroni-2
    ports:
      - "5002:5432"
      - "8002:8008"
    environment:
      - SCOPE=postgresql-ha
      - PATRONI_NAME=pg-2
      - PATRONI_ETCD_HOSTS=etcd-server:2379
      - PATRONI_SUPERUSER_USERNAME=postgres
      - PATRONI_SUPERUSER_PASSWORD=adminpassword
      - PATRONI_REPLICATION_USERNAME=repl_user
      - PATRONI_REPLICATION_PASSWORD=repl_password
    networks:
      - ha_network
    depends_on:
      - etcd

  patroni-3:
    image: ghcr.io/zalando/spilo-15:3.0-p1
    container_name: patroni-3
    ports:
      - "5003:5432"
      - "8003:8008"
    environment:
      - SCOPE=postgresql-ha
      - PATRONI_NAME=pg-3
      - PATRONI_ETCD_HOSTS=etcd-server:2379
      - PATRONI_SUPERUSER_USERNAME=postgres
      - PATRONI_SUPERUSER_PASSWORD=adminpassword
      - PATRONI_REPLICATION_USERNAME=repl_user
      - PATRONI_REPLICATION_PASSWORD=repl_password
    networks:
      - ha_network
    depends_on:
      - etcd

networks:
  ha_network:
    driver: bridge