services:
  # --- Coordinador ---
  etcd:
    image: bitnami/etcd:3.5.10
    container_name: etcd-server
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd-server:2379
    ports:
      - "2379:2379" # Puerto de etcd
    networks:
      - ha_network

  # --- Nodos de Patroni/PostgreSQL (3 en total) ---
  patroni-1:
    image: bitnami/patroni:3.0
    container_name: patroni-1
    ports:
      - "5001:5432" # Puerto de PG
      - "8001:8008" # Puerto de API de Patroni
    environment:
      - PATRONI_NAME=pg-1
      - PATRONI_RESTAPI_CONNECT_ADDRESS=patroni-1:8008
      - PATRONI_ETCD_HOST=etcd-server:2379
      - PATRONI_SCOPE=postgresql-ha
      - PATRONI_NAMESPACE=/patroni
      - PATRONI_POSTGRESQL_CONNECT_ADDRESS=patroni-1:5432
      - PATRONI_POSTGRESQL_DATA_DIR=/bitnami/postgresql/data
      - PATRONI_SUPERUSER_USERNAME=postgres
      - PATRONI_SUPERUSER_PASSWORD=adminpassword
      - PATRONI_REPLICATION_USERNAME=repl_user
      - PATRONI_REPLICATION_PASSWORD=repl_password
      - POSTGRESQL_USER=demo_user
      - POSTGRESQL_PASSWORD=demo_password
      - POSTGRESQL_DB=proyecto_ha
    volumes:
      - ./config/patroni.yml:/opt/bitnami/patroni/conf/patroni.yml
      - ./init_db:/docker-entrypoint-initdb.d # Script de inicio
    networks:
      - ha_network
    depends_on:
      - etcd

  patroni-2:
    image: bitnami/patroni:3.0
    container_name: patroni-2
    ports:
      - "5002:5432"
      - "8002:8008"
    environment:
      - PATRONI_NAME=pg-2
      - PATRONI_RESTAPI_CONNECT_ADDRESS=patroni-2:8008
      - PATRONI_ETCD_HOST=etcd-server:2379
      - PATRONI_SCOPE=postgresql-ha
      - PATRONI_NAMESPACE=/patroni
      - PATRONI_POSTGRESQL_CONNECT_ADDRESS=patroni-2:5432
      - PATRONI_POSTGRESQL_DATA_DIR=/bitnami/postgresql/data
      - PATRONI_SUPERUSER_USERNAME=postgres
      - PATRONI_SUPERUSER_PASSWORD=adminpassword
      - PATRONI_REPLICATION_USERNAME=repl_user
      - PATRONI_REPLICATION_PASSWORD=repl_password
    volumes:
      - ./config/patroni.yml:/opt/bitnami/patroni/conf/patroni.yml
    networks:
      - ha_network
    depends_on:
      - etcd

  patroni-3:
    image: bitnami/patroni:3.0
    container_name: patroni-3
    ports:
      - "5003:5432"
      - "8003:8008"
    environment:
      - PATRONI_NAME=pg-3
      - PATRONI_RESTAPI_CONNECT_ADDRESS=patroni-3:8008
      - PATRONI_ETCD_HOST=etcd-server:2379
      - PATRONI_SCOPE=postgresql-ha
      - PATRONI_NAMESPACE=/patroni
      - PATRONI_POSTGRESQL_CONNECT_ADDRESS=patroni-3:5432
      - PATRONI_POSTGRESQL_DATA_DIR=/bitnami/postgresql/data
      - PATRONI_SUPERUSER_USERNAME=postgres
      - PATRONI_SUPERUSER_PASSWORD=adminpassword
      - PATRONI_REPLICATION_USERNAME=repl_user
      - PATRONI_REPLICATION_PASSWORD=repl_password
    volumes:
      - ./config/patroni.yml:/opt/bitnami/patroni/conf/patroni.yml
    networks:
      - ha_network
    depends_on:
      - etcd

networks:
  ha_network:
    driver: bridge