# Configuración de Bootstrap (Creación del clúster)
bootstrap:
  dcs:
    # Tiempo de vida del clúster en etcd
    ttl: 30
    # Tiempo de espera para reintentar una operación
    retry_timeout: 10
    # Configuración de PostgreSQL
    postgresql:
      # Usar 'pg_basebackup' para clonar réplicas
      use_pg_rewind: true
      # Parámetros que Patroni gestionará en postgresql.conf
      parameters:
        wal_level: replica
        max_wal_senders: 10
        max_replication_slots: 10
        hot_standby: 'on'

# Configuración de la API REST (para monitoreo)
restapi:
  listen: 0.0.0.0:8008
  connect_address: 0.0.0.0:8008

# Configuración de PostgreSQL
postgresql:
  listen: 0.0.0.0:5432
  connect_address: 0.0.0.0:5432
  # Directorio de datos (coincide con el environment var)
  data_dir: /bitnami/postgresql/data
  # Comandos para iniciar/parar/etc.
  pg_hba:
    - host all all 0.0.0.0/0 md5
    - host replication repl_user 0.0.0.0/0 md5
  # Credenciales (coinciden con el environment var)
  authentication:
    superuser:
      username: postgres
      password: adminpassword
    replication:
      username: repl_user
      password: repl_password